.jogo_verificado {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    padding: 10px;
}

.numero_acertado {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    border-radius: 50px;
    background-color: #930089;
    color: white;
    width: 50px;
    height: 50px;
    border: 1px solid black;
    font-size: 30px;
}


.numero_errado {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    border-radius: 50px;
    background-color: #ffffff;
    color: rgb(200, 197, 197);
    width: 50px;
    height: 50px;
    border: 1px solid black;
    font-size: 30px;
}

.numeros_sorteados{
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}

.numeros_apostados{
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    margin: 10px 0px 10px 0px;
}

.input_numero_sorteado, .input_numero_apostado{
    width: 50px;
}

.div_com_botoes{
    display: flex;
    gap: 10px;
    justify-content: end;
    margin-bottom: 10px;
}